.profile {
    padding: 20px;
    box-shadow: 2px 2px 4px #aaa;
    border-radius: 20px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 50%;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.booking-form {
    padding: 20px;
    box-shadow: 2px 2px 4px #aaa;
    border-radius: 20px;
    background-color: #444;
}

.booking-time ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
}

.booking-time ul li {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 20px;
}

